{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "no-console": "error",
    "curly": ["error", "all"]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "ignorePatterns": ["node_modules/", "dist/", "types/"]
}
