{
  "openapi": "3.0.0",
  "info": {
    "title": "ChatBotKit API",
    "version": "v1 (build 1740255818992)"
  },
  "servers": [
    {
      "url": "https://api.chatbotkit.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Message": {
        "type": "object",
        "description": "A message in the conversation",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the message",
            "enum": [
              "user",
              "bot",
              "context",
              "instruction",
              "backstory",
              "activity"
            ],
            "$$ref": "#/components/schemas/MessageType"
          },
          "text": {
            "type": "string",
            "description": "The text of the message"
          },
          "meta": {
            "type": "object",
            "description": "Meta data information",
            "additionalProperties": true,
            "$$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "type",
          "text"
        ]
      },
      "Entity": {
        "type": "object",
        "description": "Extracted entity from the message",
        "properties": {
          "type": {
            "type": "string",
            "description": "The entity type"
          },
          "begin": {
            "type": "number",
            "description": "Start offset"
          },
          "end": {
            "type": "number",
            "description": "End offset"
          },
          "text": {
            "type": "string",
            "description": "The text value of the entity"
          },
          "replacement": {
            "type": "object",
            "properties": {
              "begin": {
                "type": "number",
                "description": "Start offset"
              },
              "end": {
                "type": "number",
                "description": "End offset"
              },
              "text": {
                "type": "string",
                "description": "The text value of the replacement"
              }
            },
            "required": [
              "begin",
              "end",
              "text"
            ]
          }
        },
        "required": [
          "type",
          "begin",
          "end",
          "text"
        ]
      },
      "MessageType": {
        "type": "string",
        "description": "The type of the message",
        "enum": [
          "user",
          "bot",
          "context",
          "instruction",
          "backstory",
          "activity"
        ]
      },
      "Schedule": {
        "type": "string",
        "description": "The schedule",
        "enum": [
          "never",
          "quarterhourly",
          "halfhourly",
          "hourly",
          "daily",
          "weekly",
          "monthly"
        ]
      },
      "BotVisibility": {
        "type": "string",
        "description": "The bot visibility",
        "enum": [
          "private",
          "protected",
          "public"
        ]
      },
      "DatasetVisibility": {
        "type": "string",
        "description": "The dataset visibility",
        "enum": [
          "private",
          "protected",
          "public"
        ]
      },
      "DatasetFileAttachmentType": {
        "type": "string",
        "description": "The dataset file attachment type",
        "enum": [
          "source"
        ]
      },
      "DatasetFilter": {
        "type": "object",
        "additionalProperties": {
          "anyOf": [
            {
              "type": "string"
            },
            {
              "type": "number"
            },
            {
              "type": "boolean"
            },
            {
              "type": "object",
              "properties": {
                "$eq": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                }
              },
              "required": [
                "$eq"
              ],
              "additionalProperties": false
            },
            {
              "type": "object",
              "properties": {
                "$ne": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                }
              },
              "required": [
                "$ne"
              ],
              "additionalProperties": false
            },
            {
              "type": "object",
              "properties": {
                "$gt": {
                  "type": "number"
                }
              },
              "required": [
                "$gt"
              ],
              "additionalProperties": false
            },
            {
              "type": "object",
              "properties": {
                "$gte": {
                  "type": "number"
                }
              },
              "required": [
                "$gte"
              ],
              "additionalProperties": false
            },
            {
              "type": "object",
              "properties": {
                "$lt": {
                  "type": "number"
                }
              },
              "required": [
                "$lt"
              ],
              "additionalProperties": false
            },
            {
              "type": "object",
              "properties": {
                "$lte": {
                  "type": "number"
                }
              },
              "required": [
                "$lte"
              ],
              "additionalProperties": false
            }
          ]
        }
      },
      "SkillsetVisibility": {
        "type": "string",
        "description": "The skillset visibility",
        "enum": [
          "private",
          "protected",
          "public"
        ]
      },
      "FileVisibility": {
        "type": "string",
        "description": "The file visibility",
        "enum": [
          "private",
          "protected",
          "public"
        ]
      },
      "SecretKind": {
        "type": "string",
        "description": "The kind of the secret",
        "enum": [
          "shared",
          "personal"
        ]
      },
      "SecretType": {
        "type": "string",
        "description": "The type of the secret",
        "enum": [
          "plain",
          "basic",
          "bearer",
          "oauth",
          "template"
        ]
      },
      "SecretVisibility": {
        "type": "string",
        "description": "The visibility of the secret",
        "enum": [
          "private",
          "protected",
          "public"
        ]
      },
      "Usage": {
        "type": "object",
        "description": "Usage information",
        "properties": {
          "token": {
            "type": "number",
            "description": "The tokens used in this exchange"
          }
        },
        "required": [
          "token"
        ]
      },
      "Meta": {
        "type": "object",
        "description": "Meta data information",
        "additionalProperties": true
      },
      "Model": {
        "type": "string",
        "description": "A model definition",
        "pattern": "\\w+(?:\\/\\w+=\\w+)*",
        "example": "gpt-4-turbo/temperature=0.7"
      },
      "BotRef": {
        "type": "object",
        "description": "A bot configuration that can be applied without a dedicated bot instance.",
        "properties": {
          "botId": {
            "type": "string",
            "description": "The ID of the bot this configuration is using"
          }
        }
      },
      "BotConfig": {
        "type": "object",
        "description": "A bot configuration that can be applied without a dedicated bot instance.",
        "properties": {
          "model": {
            "type": "string",
            "description": "A model definition",
            "pattern": "\\w+(?:\\/\\w+=\\w+)*",
            "example": "gpt-4-turbo/temperature=0.7",
            "$$ref": "#/components/schemas/Model"
          },
          "backstory": {
            "type": "string",
            "description": "The backstory this configuration is using"
          },
          "datasetId": {
            "type": "string",
            "description": "The id of the dataset this configuration is using"
          },
          "skillsetId": {
            "type": "string",
            "description": "The id of the skillset this configuration is using"
          },
          "privacy": {
            "type": "boolean",
            "description": "The privacy flag for this configuration"
          },
          "moderation": {
            "type": "boolean",
            "description": "The moderation flag for this configuration"
          }
        }
      },
      "BotRefOrConfig": {
        "description": "A bot configuration or reference",
        "oneOf": [
          {
            "type": "object",
            "description": "A bot configuration that can be applied without a dedicated bot instance.",
            "properties": {
              "botId": {
                "type": "string",
                "description": "The ID of the bot this configuration is using"
              }
            },
            "$$ref": "#/components/schemas/BotRef"
          },
          {
            "type": "object",
            "description": "A bot configuration that can be applied without a dedicated bot instance.",
            "properties": {
              "model": {
                "type": "string",
                "description": "A model definition",
                "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                "example": "gpt-4-turbo/temperature=0.7",
                "$$ref": "#/components/schemas/Model"
              },
              "backstory": {
                "type": "string",
                "description": "The backstory this configuration is using"
              },
              "datasetId": {
                "type": "string",
                "description": "The id of the dataset this configuration is using"
              },
              "skillsetId": {
                "type": "string",
                "description": "The id of the skillset this configuration is using"
              },
              "privacy": {
                "type": "boolean",
                "description": "The privacy flag for this configuration"
              },
              "moderation": {
                "type": "boolean",
                "description": "The moderation flag for this configuration"
              }
            },
            "$$ref": "#/components/schemas/BotConfig"
          }
        ]
      },
      "InstanceCrudProps": {
        "type": "object",
        "description": "Instance crud properties",
        "properties": {
          "name": {
            "type": "string",
            "description": "The associated name"
          },
          "description": {
            "type": "string",
            "description": "The associated description"
          },
          "meta": {
            "type": "object",
            "description": "Meta data information",
            "additionalProperties": true,
            "$$ref": "#/components/schemas/Meta"
          }
        }
      },
      "InstanceListProps": {
        "type": "object",
        "description": "Instance list properties",
        "properties": {
          "name": {
            "type": "string",
            "description": "The associated name"
          },
          "description": {
            "type": "string",
            "description": "The associated description"
          },
          "meta": {
            "type": "object",
            "description": "Meta data information",
            "additionalProperties": true,
            "$$ref": "#/components/schemas/Meta"
          },
          "id": {
            "type": "string",
            "description": "The instance ID"
          },
          "createdAt": {
            "type": "number",
            "description": "The timestamp (ms) when the instance was created"
          },
          "updatedAt": {
            "type": "number",
            "description": "The timestamp (ms) when the instance was updated"
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt"
        ]
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "An error response",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/blueprint/{blueprintId}/clone": {
      "post": {
        "operationId": "cloneBlueprint",
        "summary": "Clone a blueprint",
        "tags": [
          "Blueprint"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blueprintId",
            "required": true,
            "schema": {
              "description": "The ID of the blueprint to clone",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The blueprint was cloned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the cloned blueprint",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "cloneBlueprint",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/{blueprintId}/delete": {
      "post": {
        "operationId": "deleteBlueprint",
        "summary": "Delete a blueprint",
        "tags": [
          "Blueprint"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blueprintId",
            "required": true,
            "schema": {
              "description": "The ID of the blueprint to delete",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The blueprint was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the deleted blueprint",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "deleteBlueprint",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/{blueprintId}/fetch": {
      "get": {
        "operationId": "fetchBlueprint",
        "summary": "Fetch a blueprint",
        "tags": [
          "Blueprint"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blueprintId",
            "required": true,
            "schema": {
              "description": "The ID of the blueprint to retrieve",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The blueprint was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Instance list properties",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The associated name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The associated description"
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta data information",
                      "additionalProperties": true,
                      "$$ref": "#/components/schemas/Meta"
                    },
                    "id": {
                      "type": "string",
                      "description": "The instance ID"
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The timestamp (ms) when the instance was created"
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "The timestamp (ms) when the instance was updated"
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "fetchBlueprint",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/{blueprintId}/update": {
      "post": {
        "operationId": "updateBlueprint",
        "summary": "Update blueprint",
        "tags": [
          "Blueprint"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blueprintId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Instance crud properties",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The associated name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The associated description"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The blueprint was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the updated blueprint",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "updateBlueprint",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/create": {
      "post": {
        "operationId": "createBlueprint",
        "summary": "Create blueprint",
        "tags": [
          "Blueprint"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Instance crud properties",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The associated name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The associated description"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The blueprint was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the created blueprint",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "createBlueprint",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/list": {
      "get": {
        "operationId": "listBlueprints",
        "summary": "Retrieve a list of blueprints",
        "tags": [
          "Blueprint"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "The order of the paginated items",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "description": "The number of items to retrieve",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of blueprints was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Instance list properties",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The associated name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The associated description"
                          },
                          "meta": {
                            "type": "object",
                            "description": "Meta data information",
                            "additionalProperties": true,
                            "$$ref": "#/components/schemas/Meta"
                          },
                          "id": {
                            "type": "string",
                            "description": "The instance ID"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was created"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was updated"
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              },
              "application/jsonl": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "The type of event",
                          "type": "string",
                          "enum": [
                            "item"
                          ]
                        },
                        "data": {
                          "type": "object",
                          "description": "Instance list properties",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The associated name"
                            },
                            "description": {
                              "type": "string",
                              "description": "The associated description"
                            },
                            "meta": {
                              "type": "object",
                              "description": "Meta data information",
                              "additionalProperties": true,
                              "$$ref": "#/components/schemas/Meta"
                            },
                            "id": {
                              "type": "string",
                              "description": "The instance ID"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was created"
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was updated"
                            }
                          },
                          "$$ref": "#/paths/~1blueprint~1list/get/responses/200/content/application~1json/schema/properties/items/items",
                          "required": [
                            "id",
                            "createdAt",
                            "updatedAt"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "listBlueprints",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/delete": {
      "post": {
        "operationId": "deleteBot",
        "summary": "Delete a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot to delete",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the deleted bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "deleteBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/downvote": {
      "post": {
        "operationId": "downvoteBot",
        "summary": "Downvote a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "description": "The value of the downvote",
                    "type": "integer",
                    "minimum": -100,
                    "maximum": -1,
                    "default": -100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message was downvoted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The bot ID of the downvoted bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "downvoteBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/fetch": {
      "get": {
        "operationId": "fetchBot",
        "summary": "Fetch a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot to retrieve",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The bot was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "A bot configuration that can be applied without a dedicated bot instance.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The associated name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The associated description"
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta data information",
                      "additionalProperties": true,
                      "$$ref": "#/components/schemas/Meta"
                    },
                    "id": {
                      "type": "string",
                      "description": "The instance ID"
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The timestamp (ms) when the instance was created"
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "The timestamp (ms) when the instance was updated"
                    },
                    "model": {
                      "type": "string",
                      "description": "A model definition",
                      "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                      "example": "gpt-4-turbo/temperature=0.7",
                      "$$ref": "#/components/schemas/Model"
                    },
                    "backstory": {
                      "type": "string",
                      "description": "The backstory this configuration is using"
                    },
                    "datasetId": {
                      "type": "string",
                      "description": "The id of the dataset this configuration is using"
                    },
                    "skillsetId": {
                      "type": "string",
                      "description": "The id of the skillset this configuration is using"
                    },
                    "privacy": {
                      "type": "boolean",
                      "description": "The privacy flag for this configuration"
                    },
                    "moderation": {
                      "type": "boolean",
                      "description": "The moderation flag for this configuration"
                    },
                    "visibility": {
                      "type": "string",
                      "description": "The bot visibility",
                      "enum": [
                        "private",
                        "protected",
                        "public"
                      ],
                      "$$ref": "#/components/schemas/BotVisibility"
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "fetchBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/session/create": {
      "post": {
        "operationId": "createBotSession",
        "summary": "Create bot session",
        "tags": [
          "Bot Session"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot for this session",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "durationInSeconds": {
                    "description": "The maximum amount of time this session will stay open",
                    "type": "number"
                  },
                  "messages": {
                    "description": "An array of messages to be included in the conversation",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type of the message",
                          "enum": [
                            "user",
                            "bot",
                            "context",
                            "instruction",
                            "backstory",
                            "activity"
                          ],
                          "$$ref": "#/components/schemas/MessageType"
                        },
                        "text": {
                          "description": "The text of the message",
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    }
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the bot",
                      "type": "string"
                    },
                    "conversationId": {
                      "description": "The ID of the conversation",
                      "type": "string"
                    },
                    "token": {
                      "description": "The token for this conversation",
                      "type": "string"
                    },
                    "expiresAt": {
                      "description": "The time the token will expire in milliseconds",
                      "type": "number"
                    },
                    "messages": {
                      "description": "An array of messages included in the conversation",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of the message",
                            "enum": [
                              "user",
                              "bot",
                              "context",
                              "instruction",
                              "backstory",
                              "activity"
                            ],
                            "$$ref": "#/components/schemas/MessageType"
                          },
                          "text": {
                            "description": "The text of the message",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "conversationId",
                    "token",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "createBotSession",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/update": {
      "post": {
        "operationId": "updateBot",
        "summary": "Update bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "A bot configuration or reference",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The associated name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The associated description"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  },
                  "visibility": {
                    "type": "string",
                    "description": "The bot visibility",
                    "enum": [
                      "private",
                      "protected",
                      "public"
                    ],
                    "$$ref": "#/components/schemas/BotVisibility"
                  }
                },
                "oneOf": [
                  {
                    "type": "object",
                    "description": "A bot configuration that can be applied without a dedicated bot instance.",
                    "properties": {
                      "botId": {
                        "type": "string",
                        "description": "The ID of the bot this configuration is using"
                      }
                    },
                    "$$ref": "#/components/schemas/BotRef"
                  },
                  {
                    "type": "object",
                    "description": "A bot configuration that can be applied without a dedicated bot instance.",
                    "properties": {
                      "model": {
                        "type": "string",
                        "description": "A model definition",
                        "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                        "example": "gpt-4-turbo/temperature=0.7",
                        "$$ref": "#/components/schemas/Model"
                      },
                      "backstory": {
                        "type": "string",
                        "description": "The backstory this configuration is using"
                      },
                      "datasetId": {
                        "type": "string",
                        "description": "The id of the dataset this configuration is using"
                      },
                      "skillsetId": {
                        "type": "string",
                        "description": "The id of the skillset this configuration is using"
                      },
                      "privacy": {
                        "type": "boolean",
                        "description": "The privacy flag for this configuration"
                      },
                      "moderation": {
                        "type": "boolean",
                        "description": "The moderation flag for this configuration"
                      }
                    },
                    "$$ref": "#/components/schemas/BotConfig"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the updated bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "updateBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/upvote": {
      "post": {
        "operationId": "upvoteBot",
        "summary": "Upvote a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "description": "The value of the upvote",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was upvoted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the upvoted bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "upvoteBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/create": {
      "post": {
        "operationId": "createBot",
        "summary": "Create bot",
        "tags": [
          "Bot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "A bot configuration that can be applied without a dedicated bot instance.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The associated name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The associated description"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  },
                  "model": {
                    "type": "string",
                    "description": "A model definition",
                    "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                    "example": "gpt-4-turbo/temperature=0.7",
                    "$$ref": "#/components/schemas/Model"
                  },
                  "backstory": {
                    "type": "string",
                    "description": "The backstory this configuration is using"
                  },
                  "datasetId": {
                    "type": "string",
                    "description": "The id of the dataset this configuration is using"
                  },
                  "skillsetId": {
                    "type": "string",
                    "description": "The id of the skillset this configuration is using"
                  },
                  "privacy": {
                    "type": "boolean",
                    "description": "The privacy flag for this configuration"
                  },
                  "moderation": {
                    "type": "boolean",
                    "description": "The moderation flag for this configuration"
                  },
                  "visibility": {
                    "type": "string",
                    "description": "The bot visibility",
                    "enum": [
                      "private",
                      "protected",
                      "public"
                    ],
                    "$$ref": "#/components/schemas/BotVisibility"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the created bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "createBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/list": {
      "get": {
        "operationId": "listBots",
        "summary": "Retrieve a list of bots",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "The order of the paginated items",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "description": "The number of items to retrieve",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of bots was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "A bot configuration that can be applied without a dedicated bot instance.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The associated name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The associated description"
                          },
                          "meta": {
                            "type": "object",
                            "description": "Meta data information",
                            "additionalProperties": true,
                            "$$ref": "#/components/schemas/Meta"
                          },
                          "id": {
                            "type": "string",
                            "description": "The instance ID"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was created"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was updated"
                          },
                          "model": {
                            "type": "string",
                            "description": "A model definition",
                            "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                            "example": "gpt-4-turbo/temperature=0.7",
                            "$$ref": "#/components/schemas/Model"
                          },
                          "backstory": {
                            "type": "string",
                            "description": "The backstory this configuration is using"
                          },
                          "datasetId": {
                            "type": "string",
                            "description": "The id of the dataset this configuration is using"
                          },
                          "skillsetId": {
                            "type": "string",
                            "description": "The id of the skillset this configuration is using"
                          },
                          "privacy": {
                            "type": "boolean",
                            "description": "The privacy flag for this configuration"
                          },
                          "moderation": {
                            "type": "boolean",
                            "description": "The moderation flag for this configuration"
                          },
                          "visibility": {
                            "type": "string",
                            "description": "The bot visibility",
                            "enum": [
                              "private",
                              "protected",
                              "public"
                            ],
                            "$$ref": "#/components/schemas/BotVisibility"
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              },
              "application/jsonl": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "The type of event",
                          "type": "string",
                          "enum": [
                            "item"
                          ]
                        },
                        "data": {
                          "type": "object",
                          "description": "A bot configuration that can be applied without a dedicated bot instance.",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The associated name"
                            },
                            "description": {
                              "type": "string",
                              "description": "The associated description"
                            },
                            "meta": {
                              "type": "object",
                              "description": "Meta data information",
                              "additionalProperties": true,
                              "$$ref": "#/components/schemas/Meta"
                            },
                            "id": {
                              "type": "string",
                              "description": "The instance ID"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was created"
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was updated"
                            },
                            "model": {
                              "type": "string",
                              "description": "A model definition",
                              "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                              "example": "gpt-4-turbo/temperature=0.7",
                              "$$ref": "#/components/schemas/Model"
                            },
                            "backstory": {
                              "type": "string",
                              "description": "The backstory this configuration is using"
                            },
                            "datasetId": {
                              "type": "string",
                              "description": "The id of the dataset this configuration is using"
                            },
                            "skillsetId": {
                              "type": "string",
                              "description": "The id of the skillset this configuration is using"
                            },
                            "privacy": {
                              "type": "boolean",
                              "description": "The privacy flag for this configuration"
                            },
                            "moderation": {
                              "type": "boolean",
                              "description": "The moderation flag for this configuration"
                            },
                            "visibility": {
                              "type": "string",
                              "description": "The bot visibility",
                              "enum": [
                                "private",
                                "protected",
                                "public"
                              ],
                              "$$ref": "#/components/schemas/BotVisibility"
                            }
                          },
                          "$$ref": "#/paths/~1bot~1list/get/responses/200/content/application~1json/schema/properties/items/items",
                          "required": [
                            "id",
                            "createdAt",
                            "updatedAt"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "listBots",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/conversation/list": {
      "get": {
        "operationId": "listContactConversations",
        "summary": "List contact conversations",
        "tags": [
          "Contact Conversation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "description": "The ID of the contact to list conversations for",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "The order of the paginated items",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "description": "The number of items to retrieve",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of conversations was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "A bot configuration or reference",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The associated name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The associated description"
                          },
                          "meta": {
                            "type": "object",
                            "description": "Meta data information",
                            "additionalProperties": true,
                            "$$ref": "#/components/schemas/Meta"
                          },
                          "id": {
                            "type": "string",
                            "description": "The instance ID"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was created"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was updated"
                          },
                          "contactId": {
                            "description": "The contact id assigned to this conversation",
                            "type": "string"
                          },
                          "taskId": {
                            "description": "The task id assigned to this conversation",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt"
                        ],
                        "oneOf": [
                          {
                            "type": "object",
                            "description": "A bot configuration that can be applied without a dedicated bot instance.",
                            "properties": {
                              "botId": {
                                "type": "string",
                                "description": "The ID of the bot this configuration is using"
                              }
                            },
                            "$$ref": "#/components/schemas/BotRef"
                          },
                          {
                            "type": "object",
                            "description": "A bot configuration that can be applied without a dedicated bot instance.",
                            "properties": {
                              "model": {
                                "type": "string",
                                "description": "A model definition",
                                "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                                "example": "gpt-4-turbo/temperature=0.7",
                                "$$ref": "#/components/schemas/Model"
                              },
                              "backstory": {
                                "type": "string",
                                "description": "The backstory this configuration is using"
                              },
                              "datasetId": {
                                "type": "string",
                                "description": "The id of the dataset this configuration is using"
                              },
                              "skillsetId": {
                                "type": "string",
                                "description": "The id of the skillset this configuration is using"
                              },
                              "privacy": {
                                "type": "boolean",
                                "description": "The privacy flag for this configuration"
                              },
                              "moderation": {
                                "type": "boolean",
                                "description": "The moderation flag for this configuration"
                              }
                            },
                            "$$ref": "#/components/schemas/BotConfig"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              },
              "application/jsonl": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "The type of event",
                          "type": "string",
                          "enum": [
                            "item"
                          ]
                        },
                        "data": {
                          "type": "object",
                          "description": "A bot configuration or reference",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The associated name"
                            },
                            "description": {
                              "type": "string",
                              "description": "The associated description"
                            },
                            "meta": {
                              "type": "object",
                              "description": "Meta data information",
                              "additionalProperties": true,
                              "$$ref": "#/components/schemas/Meta"
                            },
                            "id": {
                              "type": "string",
                              "description": "The instance ID"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was created"
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was updated"
                            },
                            "contactId": {
                              "description": "The contact id assigned to this conversation",
                              "type": "string"
                            },
                            "taskId": {
                              "description": "The task id assigned to this conversation",
                              "type": "string"
                            }
                          },
                          "$$ref": "#/paths/~1contact~1{contactId}~1conversation~1list/get/responses/200/content/application~1json/schema/properties/items/items",
                          "required": [
                            "id",
                            "createdAt",
                            "updatedAt"
                          ],
                          "oneOf": [
                            {
                              "type": "object",
                              "description": "A bot configuration that can be applied without a dedicated bot instance.",
                              "properties": {
                                "botId": {
                                  "type": "string",
                                  "description": "The ID of the bot this configuration is using"
                                }
                              },
                              "$$ref": "#/components/schemas/BotRef"
                            },
                            {
                              "type": "object",
                              "description": "A bot configuration that can be applied without a dedicated bot instance.",
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "A model definition",
                                  "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                                  "example": "gpt-4-turbo/temperature=0.7",
                                  "$$ref": "#/components/schemas/Model"
                                },
                                "backstory": {
                                  "type": "string",
                                  "description": "The backstory this configuration is using"
                                },
                                "datasetId": {
                                  "type": "string",
                                  "description": "The id of the dataset this configuration is using"
                                },
                                "skillsetId": {
                                  "type": "string",
                                  "description": "The id of the skillset this configuration is using"
                                },
                                "privacy": {
                                  "type": "boolean",
                                  "description": "The privacy flag for this configuration"
                                },
                                "moderation": {
                                  "type": "boolean",
                                  "description": "The moderation flag for this configuration"
                                }
                              },
                              "$$ref": "#/components/schemas/BotConfig"
                            }
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "listContactConversations",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/delete": {
      "post": {
        "operationId": "deleteContact",
        "summary": "Delete contact",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "description": "The ID of the contact to delete",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contact was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the deleted contact",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "deleteContact",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/fetch": {
      "get": {
        "operationId": "fetchContact",
        "summary": "Fetch contact",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "description": "The ID of the contact to retrieve",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The contact was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Instance list properties",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The associated name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The associated description"
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta data information",
                      "additionalProperties": true,
                      "$$ref": "#/components/schemas/Meta"
                    },
                    "id": {
                      "type": "string",
                      "description": "The instance ID"
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The timestamp (ms) when the instance was created"
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "The timestamp (ms) when the instance was updated"
                    },
                    "fingerprint": {
                      "description": "The fingerprint of the contact",
                      "type": "string"
                    },
                    "email": {
                      "description": "The email address of the contact",
                      "type": "string"
                    },
                    "phone": {
                      "description": "The phone number of the contact",
                      "type": "string"
                    },
                    "nick": {
                      "description": "The nickname of the contact",
                      "type": "string"
                    },
                    "verifiedAt": {
                      "description": "The timestamp (ms) when the contact was verified",
                      "type": "number"
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt",
                    "fingerprint"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "fetchContact",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/secret/{secretId}/authenticate": {
      "post": {
        "operationId": "authenticateContactSecret",
        "summary": "Authenticate contact secret",
        "tags": [
          "Contact Secret"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the contact the secret belongs to"
            }
          },
          {
            "in": "path",
            "name": "secretId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the secret to authenticate"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contact secret is about to be authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the secret to authenticate",
                      "type": "string"
                    },
                    "url": {
                      "description": "The URL to authenticate the secret",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "url"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "authenticateContactSecret",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/secret/{secretId}/revoke": {
      "post": {
        "operationId": "revokeContactSecret",
        "summary": "Revoke contact secret",
        "tags": [
          "Contact Secret"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the contact the secret belongs to"
            }
          },
          {
            "in": "path",
            "name": "secretId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the secret to be revoked"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contact secret was revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the revoked secret",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "revokeContactSecret",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/secret/{secretId}/verify": {
      "post": {
        "operationId": "verifyContactSecret",
        "summary": "Verify contact secret",
        "tags": [
          "Contact Secret"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the contact the secret belongs to"
            }
          },
          {
            "in": "path",
            "name": "secretId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the secret to be verified"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contact secret was verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the verified secret",
                      "type": "string"
                    },
                    "status": {
                      "description": "The status of the secret",
                      "type": "string",
                      "enum": [
                        "unauthenticated",
                        "authenticated"
                      ]
                    },
                    "action": {
                      "oneOf": [
                        {
                          "description": "The action to take next",
                          "type": "object",
                          "properties": {
                            "type": {
                              "description": "The type of action to take",
                              "type": "string",
                              "enum": [
                                "authenticate"
                              ]
                            },
                            "url": {
                              "description": "The URL to authenticate the secret",
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "url"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "verifyContactSecret",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/secret/list": {
      "get": {
        "operationId": "listContactSecrets",
        "summary": "List contact secrets",
        "tags": [
          "Contact Secret"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "description": "The ID of the contact to list secrets for",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "The order of the paginated items",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "description": "The number of items to retrieve",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of contacts was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Instance list properties",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The associated name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The associated description"
                          },
                          "meta": {
                            "type": "object",
                            "description": "Meta data information",
                            "additionalProperties": true,
                            "$$ref": "#/components/schemas/Meta"
                          },
                          "id": {
                            "type": "string",
                            "description": "The instance ID"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was created"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was updated"
                          },
                          "type": {
                            "description": "The type of the secret",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt",
                          "type"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              },
              "application/jsonl": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "The type of event",
                          "type": "string",
                          "enum": [
                            "item"
                          ]
                        },
                        "data": {
                          "type": "object",
                          "description": "Instance list properties",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The associated name"
                            },
                            "description": {
                              "type": "string",
                              "description": "The associated description"
                            },
                            "meta": {
                              "type": "object",
                              "description": "Meta data information",
                              "additionalProperties": true,
                              "$$ref": "#/components/schemas/Meta"
                            },
                            "id": {
                              "type": "string",
                              "description": "The instance ID"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was created"
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was updated"
                            },
                            "type": {
                              "description": "The type of the secret",
                              "type": "string"
                            }
                          },
                          "$$ref": "#/paths/~1contact~1{contactId}~1secret~1list/get/responses/200/content/application~1json/schema/properties/items/items",
                          "required": [
                            "id",
                            "createdAt",
                            "updatedAt",
                            "type"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "listContactSecrets",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/task/list": {
      "get": {
        "operationId": "listContactTasks",
        "summary": "List contact tasks",
        "tags": [
          "Contact Task"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "description": "The ID of the contact to list tasks for",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "The order of the paginated items",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "description": "The number of items to retrieve",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of contacts was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Instance list properties",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The associated name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The associated description"
                          },
                          "meta": {
                            "type": "object",
                            "description": "Meta data information",
                            "additionalProperties": true,
                            "$$ref": "#/components/schemas/Meta"
                          },
                          "id": {
                            "type": "string",
                            "description": "The instance ID"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was created"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was updated"
                          },
                          "contactId": {
                            "description": "The contact id assigned to this task",
                            "type": "string"
                          },
                          "botId": {
                            "type": "string",
                            "description": "The bot associated with the task"
                          },
                          "schedule": {
                            "type": "string",
                            "description": "The schedule of the task"
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              },
              "application/jsonl": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "The type of event",
                          "type": "string",
                          "enum": [
                            "item"
                          ]
                        },
[...]
