{
  "openapi": "3.0.0",
  "info": {
    "title": "CBK API",
    "version": "v1 (build 1768342222550)"
  },
  "servers": [
    {
      "url": "https://api.chatbotkit.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "TimezoneHeader": {
        "name": "X-Timezone",
        "in": "header",
        "description": "The timezone to use for the request",
        "required": false,
        "schema": {
          "type": "string",
          "example": "Europe/London"
        }
      }
    },
    "schemas": {
      "Message": {
        "type": "object",
        "description": "A message in the conversation",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the message",
            "enum": [
              "user",
              "bot",
              "reasoning",
              "context",
              "instruction",
              "backstory",
              "activity"
            ],
            "$$ref": "#/components/schemas/MessageType"
          },
          "text": {
            "type": "string",
            "description": "The text of the message"
          },
          "meta": {
            "type": "object",
            "description": "Meta data information",
            "additionalProperties": true,
            "$$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "type",
          "text"
        ]
      },
      "Entity": {
        "type": "object",
        "description": "Extracted entity from the message",
        "properties": {
          "type": {
            "type": "string",
            "description": "The entity type"
          },
          "begin": {
            "type": "number",
            "description": "Start offset"
          },
          "end": {
            "type": "number",
            "description": "End offset"
          },
          "text": {
            "type": "string",
            "description": "The text value of the entity"
          },
          "replacement": {
            "type": "object",
            "properties": {
              "begin": {
                "type": "number",
                "description": "Start offset"
              },
              "end": {
                "type": "number",
                "description": "End offset"
              },
              "text": {
                "type": "string",
                "description": "The text value of the replacement"
              }
            },
            "required": [
              "begin",
              "end",
              "text"
            ]
          }
        },
        "required": [
          "type",
          "begin",
          "end",
          "text"
        ]
      },
      "MessageType": {
        "type": "string",
        "description": "The type of the message",
        "enum": [
          "user",
          "bot",
          "reasoning",
          "context",
          "instruction",
          "backstory",
          "activity"
        ]
      },
      "Trigger": {
        "type": "string",
        "description": "The type of the trigger",
        "enum": [
          "never",
          "automatic"
        ]
      },
      "Schedule": {
        "type": "string",
        "description": "The schedule",
        "enum": [
          "never",
          "quarterhourly",
          "halfhourly",
          "hourly",
          "daily",
          "weekly",
          "monthly"
        ]
      },
      "SyncStatus": {
        "type": "string",
        "description": "The sync status of an integration",
        "enum": [
          "pending",
          "synced",
          "error"
        ]
      },
      "TaskStatus": {
        "type": "string",
        "description": "The task execution status",
        "enum": [
          "idle",
          "running"
        ]
      },
      "TaskOutcome": {
        "type": "string",
        "description": "The task execution outcome",
        "enum": [
          "pending",
          "success",
          "failure"
        ]
      },
      "BlueprintVisibility": {
        "type": "string",
        "description": "The blueprint visibility",
        "enum": [
          "private",
          "protected",
          "public"
        ]
      },
      "BotVisibility": {
        "type": "string",
        "description": "The bot visibility",
        "enum": [
          "private",
          "protected",
          "public"
        ]
      },
      "DatasetVisibility": {
        "type": "string",
        "description": "The dataset visibility",
        "enum": [
          "private",
          "protected",
          "public"
        ]
      },
      "DatasetFileAttachmentType": {
        "type": "string",
        "description": "The dataset file attachment type",
        "enum": [
          "source"
        ]
      },
      "DatasetFilter": {
        "type": "object",
        "additionalProperties": {
          "anyOf": [
            {
              "type": "string"
            },
            {
              "type": "number"
            },
            {
              "type": "boolean"
            },
            {
              "type": "object",
              "properties": {
                "$eq": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                }
              },
              "required": [
                "$eq"
              ],
              "additionalProperties": false
            },
            {
              "type": "object",
              "properties": {
                "$ne": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                }
              },
              "required": [
                "$ne"
              ],
              "additionalProperties": false
            },
            {
              "type": "object",
              "properties": {
                "$gt": {
                  "type": "number"
                }
              },
              "required": [
                "$gt"
              ],
              "additionalProperties": false
            },
            {
              "type": "object",
              "properties": {
                "$gte": {
                  "type": "number"
                }
              },
              "required": [
                "$gte"
              ],
              "additionalProperties": false
            },
            {
              "type": "object",
              "properties": {
                "$lt": {
                  "type": "number"
                }
              },
              "required": [
                "$lt"
              ],
              "additionalProperties": false
            },
            {
              "type": "object",
              "properties": {
                "$lte": {
                  "type": "number"
                }
              },
              "required": [
                "$lte"
              ],
              "additionalProperties": false
            }
          ]
        }
      },
      "SkillsetVisibility": {
        "type": "string",
        "description": "The skillset visibility",
        "enum": [
          "private",
          "protected",
          "public"
        ]
      },
      "FileVisibility": {
        "type": "string",
        "description": "The file visibility",
        "enum": [
          "private",
          "protected",
          "public"
        ]
      },
      "SecretType": {
        "type": "string",
        "description": "The type of the secret",
        "enum": [
          "plain",
          "basic",
          "bearer",
          "oauth",
          "template",
          "reference"
        ]
      },
      "SecretKind": {
        "type": "string",
        "description": "The kind of the secret",
        "enum": [
          "shared",
          "personal"
        ]
      },
      "SecretVisibility": {
        "type": "string",
        "description": "The visibility of the secret",
        "enum": [
          "private",
          "protected",
          "public"
        ]
      },
      "Usage": {
        "type": "object",
        "description": "Usage information",
        "properties": {
          "token": {
            "type": "number",
            "description": "The tokens used in this exchange"
          }
        },
        "required": [
          "token"
        ]
      },
      "PolicyType": {
        "type": "string",
        "description": "The policy type",
        "enum": [
          "retention"
        ]
      },
      "Limits": {
        "type": "object",
        "description": "Limits information",
        "properties": {
          "tokens": {
            "type": "number",
            "description": "The tokens limit"
          },
          "conversations": {
            "type": "number",
            "description": "The conversations limit"
          },
          "messages": {
            "type": "number",
            "description": "The messages limit"
          },
          "database": {
            "type": "object",
            "description": "The database limits",
            "properties": {
              "datasets": {
                "type": "number",
                "description": "The datasets limit"
              },
              "records": {
                "type": "number",
                "description": "The records limit"
              },
              "skillsets": {
                "type": "number",
                "description": "The skillsets limit"
              },
              "abilities": {
                "type": "number",
                "description": "The abilities limit"
              },
              "files": {
                "type": "number",
                "description": "The files limit"
              }
            }
          }
        }
      },
      "Meta": {
        "type": "object",
        "description": "Meta data information",
        "additionalProperties": true
      },
      "Model": {
        "type": "string",
        "description": "A model definition",
        "pattern": "\\w+(?:\\/\\w+=\\w+)*",
        "example": "gpt-4-turbo/temperature=0.7"
      },
      "BotRef": {
        "type": "object",
        "description": "A bot configuration that can be applied without a dedicated bot instance.",
        "properties": {
          "botId": {
            "type": "string",
            "description": "The ID of the bot this configuration is using"
          }
        }
      },
      "BotConfig": {
        "type": "object",
        "description": "A bot configuration that can be applied without a dedicated bot instance.",
        "properties": {
          "model": {
            "type": "string",
            "description": "A model definition",
            "pattern": "\\w+(?:\\/\\w+=\\w+)*",
            "example": "gpt-4-turbo/temperature=0.7",
            "$$ref": "#/components/schemas/Model"
          },
          "backstory": {
            "type": "string",
            "description": "The backstory this configuration is using"
          },
          "datasetId": {
            "type": "string",
            "description": "The id of the dataset this configuration is using"
          },
          "skillsetId": {
            "type": "string",
            "description": "The id of the skillset this configuration is using"
          },
          "privacy": {
            "type": "boolean",
            "description": "The privacy flag for this configuration"
          },
          "moderation": {
            "type": "boolean",
            "description": "The moderation flag for this configuration"
          }
        }
      },
      "BotRefOrConfig": {
        "description": "A bot configuration or reference",
        "oneOf": [
          {
            "type": "object",
            "description": "A bot configuration that can be applied without a dedicated bot instance.",
            "properties": {
              "botId": {
                "type": "string",
                "description": "The ID of the bot this configuration is using"
              }
            },
            "$$ref": "#/components/schemas/BotRef"
          },
          {
            "type": "object",
            "description": "A bot configuration that can be applied without a dedicated bot instance.",
            "properties": {
              "model": {
                "type": "string",
                "description": "A model definition",
                "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                "example": "gpt-4-turbo/temperature=0.7",
                "$$ref": "#/components/schemas/Model"
              },
              "backstory": {
                "type": "string",
                "description": "The backstory this configuration is using"
              },
              "datasetId": {
                "type": "string",
                "description": "The id of the dataset this configuration is using"
              },
              "skillsetId": {
                "type": "string",
                "description": "The id of the skillset this configuration is using"
              },
              "privacy": {
                "type": "boolean",
                "description": "The privacy flag for this configuration"
              },
              "moderation": {
                "type": "boolean",
                "description": "The moderation flag for this configuration"
              }
            },
            "$$ref": "#/components/schemas/BotConfig"
          }
        ]
      },
      "BlueprintProps": {
        "type": "object",
        "description": "Blueprint properties",
        "properties": {
          "blueprintId": {
            "type": "string",
            "description": "The ID of the blueprint"
          }
        }
      },
      "InstanceMetaProps": {
        "description": "Instance list properties",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The instance ID"
          },
          "createdAt": {
            "type": "number",
            "description": "The timestamp (ms) when the instance was created"
          },
          "updatedAt": {
            "type": "number",
            "description": "The timestamp (ms) when the instance was updated"
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt"
        ]
      },
      "InstanceCrudProps": {
        "type": "object",
        "description": "Instance crud properties",
        "properties": {
          "name": {
            "type": "string",
            "description": "The associated name"
          },
          "description": {
            "type": "string",
            "description": "The associated description"
          },
          "meta": {
            "type": "object",
            "description": "Meta data information",
            "additionalProperties": true,
            "$$ref": "#/components/schemas/Meta"
          }
        }
      },
      "InstanceListProps": {
        "type": "object",
        "description": "Instance list properties",
        "properties": {
          "name": {
            "type": "string",
            "description": "The associated name"
          },
          "description": {
            "type": "string",
            "description": "The associated description"
          },
          "meta": {
            "type": "object",
            "description": "Meta data information",
            "additionalProperties": true,
            "$$ref": "#/components/schemas/Meta"
          },
          "id": {
            "type": "string",
            "description": "The instance ID"
          },
          "createdAt": {
            "type": "number",
            "description": "The timestamp (ms) when the instance was created"
          },
          "updatedAt": {
            "type": "number",
            "description": "The timestamp (ms) when the instance was updated"
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt"
        ]
      },
      "JsonSchemaObject": {
        "description": "A JSON Schema object type definition (https://json-schema.org/). Represents an object schema with properties and validation rules.",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "object"
            ],
            "description": "The schema type, must be \"object\""
          },
          "title": {
            "type": "string",
            "description": "The schema title"
          },
          "description": {
            "type": "string",
            "description": "The schema description"
          },
          "properties": {
            "type": "object",
            "description": "Object property definitions",
            "additionalProperties": true
          },
          "required": {
            "type": "array",
            "description": "Required property names",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "properties"
        ]
      },
      "FunctionsDefinition": {
        "description": "An array of functions to be added to the conversation",
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "description": "The name of the function (must be a valid JS identifier, max 64 chars)",
              "type": "string"
            },
            "description": {
              "description": "The description of the function",
              "type": "string"
            },
            "parameters": {
              "description": "JSON Schema definition for the function parameters",
              "type": "object",
              "properties": {
                "type": {
                  "description": "The schema type, must be \"object\"",
                  "type": "string",
                  "enum": [
                    "object"
                  ]
                },
                "properties": {
                  "description": "Object property definitions",
                  "type": "object",
                  "additionalProperties": true
                },
                "required": {
                  "description": "Required property names",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "type",
                "properties"
              ]
            },
            "result": {
              "description": "The result of the function execution",
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The data returned by the function (can be any type)"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "channel": {
                      "description": "The channel for streaming function results",
                      "type": "string"
                    }
                  },
                  "required": [
                    "channel"
                  ]
                }
              ]
            },
            "call": {
              "description": "Configuration for when this function should be automatically called",
              "type": "object",
              "properties": {
                "start": {
                  "description": "If true, this function will be force-called at the start of the conversation",
                  "type": "boolean"
                },
                "end": {
                  "description": "If true, this function will be force-called at the end of the conversation",
                  "type": "boolean"
                }
              }
            }
          },
          "required": [
            "name",
            "description",
            "parameters"
          ]
        }
      },
      "ExtensionsDefinition": {
        "description": "Extensions to enhance the bot's capabilities",
        "type": "object",
        "properties": {
          "backstory": {
            "description": "Additional backstory for the bot",
            "type": "string"
          },
          "datasets": {
            "description": "Inline datasets to provide additional context",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the dataset",
                  "type": "string"
                },
                "description": {
                  "description": "The description of the dataset",
                  "type": "string"
                },
                "records": {
                  "description": "The records in the dataset",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "description": "The text content of the record",
                        "type": "string"
                      },
                      "meta": {
                        "description": "Additional metadata for the record",
                        "type": "object"
                      }
                    },
                    "required": [
                      "text"
                    ]
                  }
                }
              },
              "required": [
                "records"
              ]
            }
          },
          "skillsets": {
            "description": "Inline skillsets to provide additional abilities",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the skillset",
                  "type": "string"
                },
                "description": {
                  "description": "The description of the skillset",
                  "type": "string"
                },
                "abilities": {
                  "description": "The abilities in the skillset",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "description": "The name of the ability",
                        "type": "string"
                      },
                      "description": {
                        "description": "The description of the ability",
                        "type": "string"
                      },
                      "instruction": {
                        "description": "The instruction for the ability",
                        "type": "string"
                      },
                      "secretId": {
                        "description": "Optional secret ID for the ability",
                        "type": "string"
                      },
                      "meta": {
                        "description": "Additional metadata for the ability",
                        "type": "object"
                      }
                    },
                    "required": [
                      "name",
                      "description",
                      "instruction"
                    ]
                  }
                }
              },
              "required": [
                "abilities"
              ]
            }
          },
          "features": {
            "description": "Feature flags to enable specific bot capabilities",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the feature to enable",
                  "type": "string"
                },
                "options": {
                  "description": "Optional configuration options for the feature",
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "required": [
                "name"
              ]
            }
          }
        }
      },
      "CompleteStreamingResponseItem": {
        "description": "An item in the streaming completion response",
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "description": "The type of event",
                "type": "string",
                "enum": [
                  "error"
                ]
              },
              "data": {
                "description": "The data for the event",
                "type": "object",
                "properties": {
                  "message": {
                    "description": "The error message",
                    "type": "string"
                  }
                },
                "required": [
                  "message"
                ]
              }
            },
            "required": [
              "type",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "description": "The type of event",
                "type": "string",
                "enum": [
                  "token"
                ]
              },
              "data": {
                "description": "The data for the event",
                "type": "object",
                "properties": {
                  "token": {
                    "description": "The token generated",
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            },
            "required": [
              "type",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "description": "The type of event",
                "type": "string",
                "enum": [
                  "reasoningToken"
                ]
              },
              "data": {
                "description": "The data for the event",
                "type": "object",
                "properties": {
                  "token": {
                    "description": "The token generated",
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            },
            "required": [
              "type",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "description": "The type of event",
                "type": "string",
                "enum": [
                  "message"
                ]
              },
              "data": {
                "type": "object",
                "description": "A message in the conversation",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of the message",
                    "enum": [
                      "user",
                      "bot",
                      "reasoning",
                      "context",
                      "instruction",
                      "backstory",
                      "activity"
                    ],
                    "$$ref": "#/components/schemas/MessageType"
                  },
                  "text": {
                    "type": "string",
                    "description": "The text of the message"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  }
                },
                "required": [
                  "type",
                  "text"
                ]
              }
            },
            "required": [
              "type",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "description": "The type of event",
                "type": "string",
                "enum": [
                  "completeBegin"
                ]
              },
              "data": {
                "description": "The data for the event",
                "type": "object",
                "properties": {},
                "additionalProperties": true
              }
            },
            "required": [
              "type",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "description": "The type of event",
                "type": "string",
                "enum": [
                  "completeEnd"
                ]
              },
              "data": {
                "description": "The data for the event",
                "type": "object",
                "properties": {},
                "additionalProperties": true
              }
            },
            "required": [
              "type",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "description": "The type of event",
                "type": "string",
                "enum": [
                  "waitForChannelMessageBegin"
                ]
              },
              "data": {
                "description": "The data for the event",
                "type": "object",
                "properties": {},
                "additionalProperties": true
              }
            },
            "required": [
              "type",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "description": "The type of event",
                "type": "string",
                "enum": [
                  "waitForChannelMessageEnd"
                ]
              },
              "data": {
                "description": "The data for the event",
                "type": "object",
                "properties": {},
                "additionalProperties": true
              }
            },
            "required": [
              "type",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "description": "The type of event",
                "type": "string",
                "enum": [
                  "usage"
                ]
              },
              "data": {
                "description": "The data for the event",
                "type": "object",
                "properties": {
                  "model": {
                    "description": "The model used",
                    "type": "string"
                  },
                  "inputTokensUsed": {
                    "description": "The number of input tokens used",
                    "type": "number"
                  },
                  "outputTokensUsed": {
                    "description": "The number of output tokens used",
                    "type": "number"
                  }
                },
                "required": [
                  "model",
                  "inputTokensUsed",
                  "outputTokensUsed"
                ]
              }
            },
            "required": [
              "type",
              "data"
            ]
          }
        ]
      }
    },
    "responses": {
      "ErrorResponse": {
        "type": "object",
        "description": "An error response",
        "properties": {
          "message": {
            "type": "string",
            "description": "The error message"
          },
          "code": {
            "type": "string",
            "description": "The error code"
          }
        },
        "required": [
          "message",
          "code"
        ]
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "operationId": "graphql",
        "summary": "Execute a GraphQL query",
        "tags": [
          "GraphQL"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "description": "The GraphQL query or mutation string",
                    "type": "string"
                  },
                  "variables": {
                    "description": "The variables for the GraphQL operation",
                    "type": "object",
                    "additionalProperties": true
                  },
                  "operationName": {
                    "description": "The name of the operation to execute",
                    "type": "string"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the GraphQL operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The data returned by the GraphQL operation",
                      "type": "object",
                      "additionalProperties": true
                    },
                    "errors": {
                      "description": "Any errors returned by the GraphQL operation",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "graphql",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/platform/report/list": {
      "get": {
        "operationId": "listPlatformReports",
        "summary": "Retrieve a list of available reports",
        "tags": [
          "Platform"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "The order of the paginated items",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "description": "The number of items to retrieve",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of reports was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Instance list properties",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The associated name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The associated description"
                          },
                          "meta": {
                            "type": "object",
                            "description": "Meta data information",
                            "additionalProperties": true,
                            "$$ref": "#/components/schemas/Meta"
                          },
                          "id": {
                            "type": "string",
                            "description": "The instance ID"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was created"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was updated"
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              },
              "application/jsonl": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "The type of event",
                          "type": "string",
                          "enum": [
                            "item"
                          ]
                        },
                        "data": {
                          "type": "object",
                          "description": "Instance list properties",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The associated name"
                            },
                            "description": {
                              "type": "string",
                              "description": "The associated description"
                            },
                            "meta": {
                              "type": "object",
                              "description": "Meta data information",
                              "additionalProperties": true,
                              "$$ref": "#/components/schemas/Meta"
                            },
                            "id": {
                              "type": "string",
                              "description": "The instance ID"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was created"
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was updated"
                            }
                          },
                          "$$ref": "#/paths/~1platform~1report~1list/get/responses/200/content/application~1json/schema/properties/items/items",
                          "required": [
                            "id",
                            "createdAt",
                            "updatedAt"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "listPlatformReports",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/report/{reportId}/generate": {
      "post": {
        "operationId": "generateReport",
        "summary": "Generate a specific report",
        "description": "Generates a report based on the specified report ID and input\nparameters.\n",
        "tags": [
          "Report"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "reportId",
            "required": true,
            "schema": {
              "description": "The ID of the report to generate",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Input parameters specific to the report type",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The report was generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Report output data specific to the report type"
                }
              }
            }
          },
          "404": {
            "description": "Report not found"
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "generateReport",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/report/generate": {
      "post": {
        "operationId": "generateReports",
        "summary": "Generate multiple reports",
        "description": "Generates multiple reports in a single request. Input is a map where\neach key is a report ID and each value contains the input parameters\nfor that report. Returns a map with the same keys containing the\ncorresponding report outputs.\n",
        "tags": [
          "Report"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Map of report IDs to their input parameters",
                "additionalProperties": {
                  "type": "object",
                  "description": "Input parameters specific to the report type"
                }
              },
              "example": {
                "clr3m5n8k000008jq7h9e5b1a": {
                  "periodDays": 30
                },
                "clr3m5n8k000108jq7h9e5b1b": {
                  "periodDays": 7
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The reports were generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Map of report IDs to their output data or error",
                  "additionalProperties": {
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "Successful report output data"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "error": {
                            "type": "string",
                            "description": "Error message if report generation failed"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "generateReports",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/{blueprintId}/clone": {
      "post": {
        "operationId": "cloneBlueprint",
        "summary": "Clone a blueprint",
        "tags": [
          "Blueprint"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blueprintId",
            "required": true,
            "schema": {
              "description": "The ID of the blueprint to clone",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The blueprint was cloned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the cloned blueprint",
                      "type": "string"
                    },
                    "resources": {
                      "description": "A map of the resources that were cloned",
                      "type": "object"
                    }
                  },
                  "required": [
                    "id",
                    "resources"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "cloneBlueprint",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/{blueprintId}/delete": {
      "post": {
        "operationId": "deleteBlueprint",
        "summary": "Delete a blueprint",
        "tags": [
          "Blueprint"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blueprintId",
            "required": true,
            "schema": {
              "description": "The ID of the blueprint to delete",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deleteResources": {
                    "description": "If true, deletes all resources associated with the blueprint. If false or omitted, only the blueprint is deleted.",
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The blueprint was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the deleted blueprint",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "deleteBlueprint",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/{blueprintId}/fetch": {
      "get": {
        "operationId": "fetchBlueprint",
        "summary": "Fetch a blueprint",
        "tags": [
          "Blueprint"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blueprintId",
            "required": true,
            "schema": {
              "description": "The ID of the blueprint to retrieve",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The blueprint was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Instance list properties",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The associated name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The associated description"
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta data information",
                      "additionalProperties": true,
                      "$$ref": "#/components/schemas/Meta"
                    },
                    "id": {
                      "type": "string",
                      "description": "The instance ID"
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The timestamp (ms) when the instance was created"
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "The timestamp (ms) when the instance was updated"
                    },
                    "visibility": {
                      "type": "string",
                      "description": "The blueprint visibility",
                      "enum": [
                        "private",
                        "protected",
                        "public"
                      ],
                      "$$ref": "#/components/schemas/BlueprintVisibility"
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "fetchBlueprint",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/{blueprintId}/resource/list": {
      "get": {
        "operationId": "listBlueprintResources",
        "summary": "List the resources of a blueprint",
        "tags": [
          "Blueprint Resources"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blueprintId",
            "required": true,
            "schema": {
              "description": "The ID of the blueprint to clone",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blueprint resources were retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the blueprint",
                      "type": "string"
                    },
                    "resources": {
                      "description": "A map of the resources",
                      "type": "object"
                    }
                  },
                  "required": [
                    "id",
                    "resources"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "listBlueprintResources",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/{blueprintId}/update": {
      "post": {
        "operationId": "updateBlueprint",
        "summary": "Update blueprint",
        "tags": [
          "Blueprint"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "blueprintId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Instance crud properties",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The associated name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The associated description"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  },
                  "visibility": {
                    "type": "string",
                    "description": "The blueprint visibility",
                    "enum": [
                      "private",
                      "protected",
                      "public"
                    ],
                    "$$ref": "#/components/schemas/BlueprintVisibility"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The blueprint was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the updated blueprint",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "updateBlueprint",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/create": {
      "post": {
        "operationId": "createBlueprint",
        "summary": "Create blueprint",
        "tags": [
          "Blueprint"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Instance crud properties",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The associated name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The associated description"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  },
                  "visibility": {
                    "type": "string",
                    "description": "The blueprint visibility",
                    "enum": [
                      "private",
                      "protected",
                      "public"
                    ],
                    "$$ref": "#/components/schemas/BlueprintVisibility"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The blueprint was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the created blueprint",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "createBlueprint",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/blueprint/list": {
      "get": {
        "operationId": "listBlueprints",
        "summary": "Retrieve a list of blueprints",
        "tags": [
          "Blueprint"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "The order of the paginated items",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "description": "The number of items to retrieve",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "meta",
            "schema": {
              "description": "Key-value pairs to filter the partner users by metadata",
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "style": "deepObject",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "The list of blueprints was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Instance list properties",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The associated name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The associated description"
                          },
                          "meta": {
                            "type": "object",
                            "description": "Meta data information",
                            "additionalProperties": true,
                            "$$ref": "#/components/schemas/Meta"
                          },
                          "id": {
                            "type": "string",
                            "description": "The instance ID"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was created"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The timestamp (ms) when the instance was updated"
                          },
                          "visibility": {
                            "type": "string",
                            "description": "The blueprint visibility",
                            "enum": [
                              "private",
                              "protected",
                              "public"
                            ],
                            "$$ref": "#/components/schemas/BlueprintVisibility"
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              },
              "application/jsonl": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "The type of event",
                          "type": "string",
                          "enum": [
                            "item"
                          ]
                        },
                        "data": {
                          "type": "object",
                          "description": "Instance list properties",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The associated name"
                            },
                            "description": {
                              "type": "string",
                              "description": "The associated description"
                            },
                            "meta": {
                              "type": "object",
                              "description": "Meta data information",
                              "additionalProperties": true,
                              "$$ref": "#/components/schemas/Meta"
                            },
                            "id": {
                              "type": "string",
                              "description": "The instance ID"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was created"
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "The timestamp (ms) when the instance was updated"
                            },
                            "visibility": {
                              "type": "string",
                              "description": "The blueprint visibility",
                              "enum": [
                                "private",
                                "protected",
                                "public"
                              ],
                              "$$ref": "#/components/schemas/BlueprintVisibility"
                            }
                          },
                          "$$ref": "#/paths/~1blueprint~1list/get/responses/200/content/application~1json/schema/properties/items/items",
                          "required": [
                            "id",
                            "createdAt",
                            "updatedAt"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "listBlueprints",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/clone": {
      "post": {
        "operationId": "cloneBot",
        "summary": "Clone bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was cloned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the cloned bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "cloneBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/delete": {
      "post": {
        "operationId": "deleteBot",
        "summary": "Delete a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot to delete",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the deleted bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "deleteBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/downvote": {
      "post": {
        "operationId": "downvoteBot",
        "summary": "Downvote a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "description": "The value of the downvote",
                    "type": "integer",
                    "minimum": -100,
                    "maximum": -1,
                    "default": -100
                  },
                  "reason": {
                    "description": "The reason for the downvote",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message was downvoted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The bot ID of the downvoted bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "downvoteBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/fetch": {
      "get": {
        "operationId": "fetchBot",
        "summary": "Fetch a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot to retrieve",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The bot was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Blueprint properties",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The associated name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The associated description"
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta data information",
                      "additionalProperties": true,
                      "$$ref": "#/components/schemas/Meta"
                    },
                    "id": {
                      "type": "string",
                      "description": "The instance ID"
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The timestamp (ms) when the instance was created"
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "The timestamp (ms) when the instance was updated"
                    },
                    "model": {
                      "type": "string",
                      "description": "A model definition",
                      "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                      "example": "gpt-4-turbo/temperature=0.7",
                      "$$ref": "#/components/schemas/Model"
                    },
                    "backstory": {
                      "type": "string",
                      "description": "The backstory this configuration is using"
                    },
                    "datasetId": {
                      "type": "string",
                      "description": "The id of the dataset this configuration is using"
                    },
                    "skillsetId": {
                      "type": "string",
                      "description": "The id of the skillset this configuration is using"
                    },
                    "privacy": {
                      "type": "boolean",
                      "description": "The privacy flag for this configuration"
                    },
                    "moderation": {
                      "type": "boolean",
                      "description": "The moderation flag for this configuration"
                    },
                    "blueprintId": {
                      "type": "string",
                      "description": "The ID of the blueprint"
                    },
                    "visibility": {
                      "type": "string",
                      "description": "The bot visibility",
                      "enum": [
                        "private",
                        "protected",
                        "public"
                      ],
                      "$$ref": "#/components/schemas/BotVisibility"
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "fetchBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/memory/search": {
      "post": {
        "operationId": "searchBotMemory",
        "summary": "Search memories for a specific bot",
        "tags": [
          "Bot Memory"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot to search memories for",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "description": "The keyword/phrase to search for",
                    "type": "string"
                  }
                },
                "required": [
                  "search"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The search was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "description": "An array of memories matching the search query",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "meta": {
                            "type": "object"
                          }
                        },
                        "required": [
                          "id",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "searchBotMemory",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/session/create": {
      "post": {
        "operationId": "createBotSession",
        "summary": "Create bot session",
        "tags": [
          "Bot Session"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot for this session",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "durationInSeconds": {
                    "description": "The maximum amount of time this session will stay open",
                    "type": "number"
                  },
                  "messages": {
                    "description": "An array of messages to be included in the conversation",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type of the message",
                          "enum": [
                            "user",
                            "bot",
                            "reasoning",
                            "context",
                            "instruction",
                            "backstory",
                            "activity"
                          ],
                          "$$ref": "#/components/schemas/MessageType"
                        },
                        "text": {
                          "description": "The text of the message",
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    }
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the bot",
                      "type": "string"
                    },
                    "conversationId": {
                      "description": "The ID of the conversation",
                      "type": "string"
                    },
                    "token": {
                      "description": "The token for this conversation",
                      "type": "string"
                    },
                    "expiresAt": {
                      "description": "The time the token will expire in milliseconds",
                      "type": "number"
                    },
                    "messages": {
                      "description": "An array of messages included in the conversation",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of the message",
                            "enum": [
                              "user",
                              "bot",
                              "reasoning",
                              "context",
                              "instruction",
                              "backstory",
                              "activity"
                            ],
                            "$$ref": "#/components/schemas/MessageType"
                          },
                          "text": {
                            "description": "The text of the message",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "conversationId",
                    "token",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "createBotSession",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/update": {
      "post": {
        "operationId": "updateBot",
        "summary": "Update bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Blueprint properties",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The associated name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The associated description"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  },
                  "model": {
                    "type": "string",
                    "description": "A model definition",
                    "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                    "example": "gpt-4-turbo/temperature=0.7",
                    "$$ref": "#/components/schemas/Model"
                  },
                  "backstory": {
                    "type": "string",
                    "description": "The backstory this configuration is using"
                  },
                  "datasetId": {
                    "type": "string",
                    "description": "The id of the dataset this configuration is using"
                  },
                  "skillsetId": {
                    "type": "string",
                    "description": "The id of the skillset this configuration is using"
                  },
                  "privacy": {
                    "type": "boolean",
                    "description": "The privacy flag for this configuration"
                  },
                  "moderation": {
                    "type": "boolean",
                    "description": "The moderation flag for this configuration"
                  },
                  "blueprintId": {
                    "type": "string",
                    "description": "The ID of the blueprint"
                  },
                  "visibility": {
                    "type": "string",
                    "description": "The bot visibility",
                    "enum": [
                      "private",
                      "protected",
                      "public"
                    ],
                    "$$ref": "#/components/schemas/BotVisibility"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the updated bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "updateBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/upvote": {
      "post": {
        "operationId": "upvoteBot",
        "summary": "Upvote a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "description": "The value of the upvote",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 100
                  },
                  "reason": {
                    "description": "The reason for the upvote",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was upvoted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the upvoted bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "upvoteBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/usage/fetch": {
      "get": {
        "operationId": "fetchBotUsage",
        "summary": "Fetch bot usage statistics",
        "description": "Retrieve usage statistics for a specific bot, including total tokens\n(BASE type only), total conversations, and total messages. Optionally\nfilter by date range.\n",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "description": "Start date for the period (ISO 8601 format)",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "description": "End date for the period (ISO 8601 format)",
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bot usage statistics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokens": {
                      "description": "Total number of BASE tokens used",
                      "type": "integer"
                    },
                    "conversations": {
                      "description": "Total number of conversations",
                      "type": "integer"
                    },
                    "messages": {
                      "description": "Total number of messages",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "type": "object",
            "description": "An error response",
            "properties": {
              "message": {
                "type": "string",
                "description": "The error message"
              },
              "code": {
                "type": "string",
                "description": "The error code"
              }
            },
            "required": [
              "message",
              "code"
            ],
            "$$ref": "#/components/responses/ErrorResponse"
          }
        },
        "__originalOperationId": "fetchBotUsage",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/create": {
      "post": {
        "operationId": "createBot",
        "summary": "Create bot",
        "tags": [
          "Bot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
[...]
