{
  "openapi": "3.0.0",
  "info": {
    "title": "ChatBotKit API",
    "version": "v1 (build 1725275238917)"
  },
  "servers": [
    {
      "url": "https://api.chatbotkit.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Message": {
        "type": "object",
        "description": "A message in the conversation",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the message",
            "enum": [
              "user",
              "bot",
              "context",
              "instruction",
              "backstory",
              "activity"
            ],
            "$$ref": "#/components/schemas/MessageType"
          },
          "text": {
            "type": "string",
            "description": "The text of the message"
          },
          "meta": {
            "type": "object",
            "description": "Meta data information",
            "additionalProperties": true,
            "$$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "type",
          "text"
        ]
      },
      "Entity": {
        "type": "object",
        "description": "Extracted entity from the message",
        "properties": {
          "type": {
            "type": "string",
            "description": "The entity type"
          },
          "begin": {
            "type": "number",
            "description": "Start offset"
          },
          "end": {
            "type": "number",
            "description": "End offset"
          },
          "text": {
            "type": "string",
            "description": "The text value of the entity"
          },
          "replacement": {
            "type": "object",
            "properties": {
              "begin": {
                "type": "number",
                "description": "Start offset"
              },
              "end": {
                "type": "number",
                "description": "End offset"
              },
              "text": {
                "type": "string",
                "description": "The text value of the replacement"
              }
            },
            "required": [
              "begin",
              "end",
              "text"
            ]
          }
        },
        "required": [
          "type",
          "begin",
          "end",
          "text"
        ]
      },
      "MessageType": {
        "type": "string",
        "description": "The type of the message",
        "enum": [
          "user",
          "bot",
          "context",
          "instruction",
          "backstory",
          "activity"
        ]
      },
      "BotVisibility": {
        "type": "string",
        "description": "The bot visibility",
        "enum": [
          "private",
          "public",
          "restrictedAccessChat",
          "unrestrictedAccessChat"
        ]
      },
      "DatasetVisibility": {
        "type": "string",
        "description": "The dataset visibility",
        "enum": [
          "private",
          "public"
        ]
      },
      "DatasetFileAttachmentType": {
        "type": "string",
        "description": "The dataset file attachment type",
        "enum": [
          "source"
        ]
      },
      "SkillsetVisibility": {
        "type": "string",
        "description": "The skillset visibility",
        "enum": [
          "private",
          "public"
        ]
      },
      "FileVisibility": {
        "type": "string",
        "description": "The file visibility",
        "enum": [
          "private",
          "public"
        ]
      },
      "SecretType": {
        "type": "string",
        "description": "The type of the secret",
        "enum": [
          "bearer",
          "plain",
          "basic"
        ]
      },
      "Usage": {
        "type": "object",
        "description": "Usage information",
        "properties": {
          "token": {
            "type": "number",
            "description": "The tokens used in this exchange"
          }
        },
        "required": [
          "token"
        ]
      },
      "Meta": {
        "type": "object",
        "description": "Meta data information",
        "additionalProperties": true
      },
      "Model": {
        "type": "string",
        "description": "A model definition",
        "pattern": "\\w+(?:\\/\\w+=\\w+)*",
        "example": "gpt-4-turbo/temperature=0.7"
      },
      "BotRef": {
        "type": "object",
        "description": "A bot configuration that can be applied without a dedicated bot instance.",
        "properties": {
          "botId": {
            "type": "string",
            "description": "The ID of the bot this configuration is using"
          }
        }
      },
      "BotConfig": {
        "type": "object",
        "description": "A bot configuration that can be applied without a dedicated bot instance.",
        "properties": {
          "model": {
            "type": "string",
            "description": "A model definition",
            "pattern": "\\w+(?:\\/\\w+=\\w+)*",
            "example": "gpt-4-turbo/temperature=0.7",
            "$$ref": "#/components/schemas/Model"
          },
          "backstory": {
            "type": "string",
            "description": "The backstory this configuration is using"
          },
          "datasetId": {
            "type": "string",
            "description": "The id of the dataset this configuration is using"
          },
          "skillsetId": {
            "type": "string",
            "description": "The id of the skillset this configuration is using"
          },
          "privacy": {
            "type": "boolean",
            "description": "The privacy flag for this configuration"
          },
          "moderation": {
            "type": "boolean",
            "description": "The moderation flag for this configuration"
          }
        }
      },
      "BotRefOrConfig": {
        "description": "A bot configuration or reference",
        "oneOf": [
          {
            "type": "object",
            "description": "A bot configuration that can be applied without a dedicated bot instance.",
            "properties": {
              "botId": {
                "type": "string",
                "description": "The ID of the bot this configuration is using"
              }
            },
            "$$ref": "#/components/schemas/BotRef"
          },
          {
            "type": "object",
            "description": "A bot configuration that can be applied without a dedicated bot instance.",
            "properties": {
              "model": {
                "type": "string",
                "description": "A model definition",
                "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                "example": "gpt-4-turbo/temperature=0.7",
                "$$ref": "#/components/schemas/Model"
              },
              "backstory": {
                "type": "string",
                "description": "The backstory this configuration is using"
              },
              "datasetId": {
                "type": "string",
                "description": "The id of the dataset this configuration is using"
              },
              "skillsetId": {
                "type": "string",
                "description": "The id of the skillset this configuration is using"
              },
              "privacy": {
                "type": "boolean",
                "description": "The privacy flag for this configuration"
              },
              "moderation": {
                "type": "boolean",
                "description": "The moderation flag for this configuration"
              }
            },
            "$$ref": "#/components/schemas/BotConfig"
          }
        ]
      },
      "InstanceCrudProps": {
        "type": "object",
        "description": "Instance crud properties",
        "properties": {
          "name": {
            "type": "string",
            "description": "The associated name"
          },
          "description": {
            "type": "string",
            "description": "The associated description"
          },
          "meta": {
            "type": "object",
            "description": "Meta data information",
            "additionalProperties": true,
            "$$ref": "#/components/schemas/Meta"
          }
        }
      },
      "InstanceListProps": {
        "type": "object",
        "description": "Instance list properties",
        "properties": {
          "name": {
            "type": "string",
            "description": "The associated name"
          },
          "description": {
            "type": "string",
            "description": "The associated description"
          },
          "meta": {
            "type": "object",
            "description": "Meta data information",
            "additionalProperties": true,
            "$$ref": "#/components/schemas/Meta"
          },
          "id": {
            "type": "string",
            "description": "The instance ID"
          },
          "createdAt": {
            "type": "number",
            "description": "The creation date"
          },
          "updatedAt": {
            "type": "number",
            "description": "The last update date"
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "The error message"
          },
          "code": {
            "type": "string",
            "description": "The error code"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request could not be understood or was missing required parameters.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The error message"
                },
                "code": {
                  "type": "string",
                  "description": "The error code"
                }
              },
              "$$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "The request could not be completed due to a conflict with the current state of the resource.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The error message"
                },
                "code": {
                  "type": "string",
                  "description": "The error code"
                }
              },
              "$$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The user is not authorized to access the requested resource",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The error message"
                },
                "code": {
                  "type": "string",
                  "description": "The error code"
                }
              },
              "$$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The error message"
                },
                "code": {
                  "type": "string",
                  "description": "The error code"
                }
              },
              "$$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/bot/{botId}/delete": {
      "post": {
        "operationId": "deleteBot",
        "summary": "Delete a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot to delete",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the deleted bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/NotFound"
          }
        },
        "__originalOperationId": "deleteBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/downvote": {
      "post": {
        "operationId": "downvoteBot",
        "summary": "Downvote a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "description": "The value of the downvote",
                    "type": "integer",
                    "minimum": -100,
                    "maximum": -1,
                    "default": -100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message was downvoted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The bot ID of the downvoted bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The request could not be completed due to a conflict with the current state of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Conflict"
          }
        },
        "__originalOperationId": "downvoteBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/fetch": {
      "get": {
        "operationId": "fetchBot",
        "summary": "Fetch a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot to retrieve",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The bot was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the bot",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the bot",
                      "type": "string"
                    },
                    "description": {
                      "description": "The description of the bot",
                      "type": "string"
                    },
                    "backstory": {
                      "description": "The backstory for the bot",
                      "type": "string"
                    },
                    "model": {
                      "description": "The model used in the bot",
                      "type": "string"
                    },
                    "datasetId": {
                      "description": "The ID of the dataset used in the bot",
                      "type": "string"
                    },
                    "skillsetId": {
                      "description": "The ID of the skillset used in the bot",
                      "type": "string"
                    },
                    "visibility": {
                      "type": "string",
                      "description": "The bot visibility",
                      "enum": [
                        "private",
                        "public",
                        "restrictedAccessChat",
                        "unrestrictedAccessChat"
                      ],
                      "$$ref": "#/components/schemas/BotVisibility"
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta data information",
                      "additionalProperties": true,
                      "$$ref": "#/components/schemas/Meta"
                    },
                    "createdAt": {
                      "description": "The timestamp for when the bot was created (in milliseconds)",
                      "type": "number"
                    },
                    "updatedAt": {
                      "description": "The timestamp for when the bot was last updated (in milliseconds)",
                      "type": "number"
                    }
                  },
                  "required": [
                    "id",
                    "visibility",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/NotFound"
          }
        },
        "__originalOperationId": "fetchBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/session/create": {
      "post": {
        "operationId": "createBotSession",
        "summary": "Create bot session",
        "tags": [
          "Bot Session"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot for this session",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "durationInSeconds": {
                    "description": "The maximum amount of time this session will stay open",
                    "type": "number"
                  },
                  "messages": {
                    "description": "An array of messages to be included in the conversation",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type of the message",
                          "enum": [
                            "user",
                            "bot",
                            "context",
                            "instruction",
                            "backstory",
                            "activity"
                          ],
                          "$$ref": "#/components/schemas/MessageType"
                        },
                        "text": {
                          "description": "The text of the message",
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    }
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the bot",
                      "type": "string"
                    },
                    "conversationId": {
                      "description": "The ID of the conversation",
                      "type": "string"
                    },
                    "token": {
                      "description": "The token for this conversation",
                      "type": "string"
                    },
                    "expiresAt": {
                      "description": "The time the token will expire in milliseconds",
                      "type": "number"
                    },
                    "messages": {
                      "description": "An array of messages included in the conversation",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of the message",
                            "enum": [
                              "user",
                              "bot",
                              "context",
                              "instruction",
                              "backstory",
                              "activity"
                            ],
                            "$$ref": "#/components/schemas/MessageType"
                          },
                          "text": {
                            "description": "The text of the message",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "conversationId",
                    "token",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The request could not be completed due to a conflict with the current state of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Conflict"
          }
        },
        "__originalOperationId": "createBotSession",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/update": {
      "post": {
        "operationId": "updateBot",
        "summary": "Update bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "The name of the bot",
                    "type": "string"
                  },
                  "description": {
                    "description": "The description of the bot",
                    "type": "string"
                  },
                  "backstory": {
                    "description": "The backstory of the bot",
                    "type": "string"
                  },
                  "model": {
                    "description": "The model of the bot",
                    "type": "string"
                  },
                  "datasetId": {
                    "description": "The id of the dataset the bot is using",
                    "type": "string"
                  },
                  "skillsetId": {
                    "description": "The id of the skillset the bot is using",
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "description": "The bot visibility",
                    "enum": [
                      "private",
                      "public",
                      "restrictedAccessChat",
                      "unrestrictedAccessChat"
                    ],
                    "$$ref": "#/components/schemas/BotVisibility"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the updated bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The request could not be completed due to a conflict with the current state of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Conflict"
          }
        },
        "__originalOperationId": "updateBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/{botId}/upvote": {
      "post": {
        "operationId": "upvoteBot",
        "summary": "Upvote a bot",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "required": true,
            "schema": {
              "description": "The ID of the bot",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "description": "The value of the upvote",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was upvoted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the upvoted bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The request could not be completed due to a conflict with the current state of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Conflict"
          }
        },
        "__originalOperationId": "upvoteBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/create": {
      "post": {
        "operationId": "createBot",
        "summary": "Create bot",
        "tags": [
          "Bot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "The name of the bot",
                    "type": "string"
                  },
                  "description": {
                    "description": "The description of the bot",
                    "type": "string"
                  },
                  "backstory": {
                    "description": "The backstory of the bot",
                    "type": "string"
                  },
                  "model": {
                    "description": "The model of the bot",
                    "type": "string"
                  },
                  "datasetId": {
                    "description": "The id of the dataset the bot is using",
                    "type": "string"
                  },
                  "skillsetId": {
                    "description": "The id of the skillset the bot is using",
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "description": "The bot visibility",
                    "enum": [
                      "private",
                      "public",
                      "restrictedAccessChat",
                      "unrestrictedAccessChat"
                    ],
                    "$$ref": "#/components/schemas/BotVisibility"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bot was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the created bot",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "description": "The request could not be completed due to a conflict with the current state of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Conflict"
          }
        },
        "__originalOperationId": "createBot",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/bot/list": {
      "get": {
        "operationId": "listBots",
        "summary": "Retrieve a list of bots",
        "tags": [
          "Bot"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "The order of the paginated items",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "description": "The number of items to retrieve",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of bots was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "description": "An array of bots",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "The ID of the bot",
                            "type": "string"
                          },
                          "name": {
                            "description": "The name of the bot",
                            "type": "string"
                          },
                          "description": {
                            "description": "The description of the bot",
                            "type": "string"
                          },
                          "backstory": {
                            "description": "The backstory of the bot",
                            "type": "string"
                          },
                          "model": {
                            "description": "The model of the bot",
                            "type": "string"
                          },
                          "datasetId": {
                            "description": "The id of the dataset the bot is using",
                            "type": "string"
                          },
                          "skillsetId": {
                            "description": "The id of the skillset the bot is using",
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string",
                            "description": "The bot visibility",
                            "enum": [
                              "private",
                              "public",
                              "restrictedAccessChat",
                              "unrestrictedAccessChat"
                            ],
                            "$$ref": "#/components/schemas/BotVisibility"
                          },
                          "meta": {
                            "type": "object",
                            "description": "Meta data information",
                            "additionalProperties": true,
                            "$$ref": "#/components/schemas/Meta"
                          },
                          "createdAt": {
                            "description": "The timestamp when the bot was created",
                            "type": "number"
                          },
                          "updatedAt": {
                            "description": "The timestamp when the bot was last updated",
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "visibility",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              },
              "application/jsonl": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "The type of event",
                          "type": "string",
                          "enum": [
                            "item"
                          ]
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "The ID of the bot",
                              "type": "string"
                            },
                            "name": {
                              "description": "The name of the bot",
                              "type": "string"
                            },
                            "description": {
                              "description": "The description of the bot",
                              "type": "string"
                            },
                            "backstory": {
                              "description": "The backstory of the bot",
                              "type": "string"
                            },
                            "model": {
                              "description": "The model of the bot",
                              "type": "string"
                            },
                            "datasetId": {
                              "description": "The id of the dataset the bot is using",
                              "type": "string"
                            },
                            "skillsetId": {
                              "description": "The id of the skillset the bot is using",
                              "type": "string"
                            },
                            "visibility": {
                              "type": "string",
                              "description": "The bot visibility",
                              "enum": [
                                "private",
                                "public",
                                "restrictedAccessChat",
                                "unrestrictedAccessChat"
                              ],
                              "$$ref": "#/components/schemas/BotVisibility"
                            },
                            "meta": {
                              "type": "object",
                              "description": "Meta data information",
                              "additionalProperties": true,
                              "$$ref": "#/components/schemas/Meta"
                            },
                            "createdAt": {
                              "description": "The timestamp when the bot was created",
                              "type": "number"
                            },
                            "updatedAt": {
                              "description": "The timestamp when the bot was last updated",
                              "type": "number"
                            }
                          },
                          "required": [
                            "id",
                            "visibility",
                            "createdAt",
                            "updatedAt"
                          ],
                          "$$ref": "#/paths/~1bot~1list/get/responses/200/content/application~1json/schema/properties/items/items"
                        }
                      },
                      "required": [
                        "type",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          }
        },
        "__originalOperationId": "listBots",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/conversation/export": {
      "get": {
        "operationId": "exportContactConversations",
        "summary": "Export contact conversations",
        "tags": [
          "Contact Conversation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "description": "The ID of the contact to delete",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "The order of the paginated items",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "description": "The number of items to retrieve",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of conversations was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "A bot configuration or reference",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The associated name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The associated description"
                          },
                          "meta": {
                            "type": "object",
                            "description": "Meta data information",
                            "additionalProperties": true,
                            "$$ref": "#/components/schemas/Meta"
                          },
                          "id": {
                            "type": "string",
                            "description": "The instance ID"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The creation date"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The last update date"
                          },
                          "contactId": {
                            "description": "The contact id assigned to this conversation",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt"
                        ],
                        "oneOf": [
                          {
                            "type": "object",
                            "description": "A bot configuration that can be applied without a dedicated bot instance.",
                            "properties": {
                              "botId": {
                                "type": "string",
                                "description": "The ID of the bot this configuration is using"
                              }
                            },
                            "$$ref": "#/components/schemas/BotRef"
                          },
                          {
                            "type": "object",
                            "description": "A bot configuration that can be applied without a dedicated bot instance.",
                            "properties": {
                              "model": {
                                "type": "string",
                                "description": "A model definition",
                                "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                                "example": "gpt-4-turbo/temperature=0.7",
                                "$$ref": "#/components/schemas/Model"
                              },
                              "backstory": {
                                "type": "string",
                                "description": "The backstory this configuration is using"
                              },
                              "datasetId": {
                                "type": "string",
                                "description": "The id of the dataset this configuration is using"
                              },
                              "skillsetId": {
                                "type": "string",
                                "description": "The id of the skillset this configuration is using"
                              },
                              "privacy": {
                                "type": "boolean",
                                "description": "The privacy flag for this configuration"
                              },
                              "moderation": {
                                "type": "boolean",
                                "description": "The moderation flag for this configuration"
                              }
                            },
                            "$$ref": "#/components/schemas/BotConfig"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              },
              "application/jsonl": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "The type of event",
                          "type": "string",
                          "enum": [
                            "item"
                          ]
                        },
                        "data": {
                          "type": "object",
                          "description": "A bot configuration or reference",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The associated name"
                            },
                            "description": {
                              "type": "string",
                              "description": "The associated description"
                            },
                            "meta": {
                              "type": "object",
                              "description": "Meta data information",
                              "additionalProperties": true,
                              "$$ref": "#/components/schemas/Meta"
                            },
                            "id": {
                              "type": "string",
                              "description": "The instance ID"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "The creation date"
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "The last update date"
                            },
                            "contactId": {
                              "description": "The contact id assigned to this conversation",
                              "type": "string"
                            }
                          },
                          "$$ref": "#/paths/~1conversation~1export/get/responses/200/content/application~1json/schema/properties/items/items",
                          "required": [
                            "id",
                            "createdAt",
                            "updatedAt"
                          ],
                          "oneOf": [
                            {
                              "type": "object",
                              "description": "A bot configuration that can be applied without a dedicated bot instance.",
                              "properties": {
                                "botId": {
                                  "type": "string",
                                  "description": "The ID of the bot this configuration is using"
                                }
                              },
                              "$$ref": "#/components/schemas/BotRef"
                            },
                            {
                              "type": "object",
                              "description": "A bot configuration that can be applied without a dedicated bot instance.",
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "A model definition",
                                  "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                                  "example": "gpt-4-turbo/temperature=0.7",
                                  "$$ref": "#/components/schemas/Model"
                                },
                                "backstory": {
                                  "type": "string",
                                  "description": "The backstory this configuration is using"
                                },
                                "datasetId": {
                                  "type": "string",
                                  "description": "The id of the dataset this configuration is using"
                                },
                                "skillsetId": {
                                  "type": "string",
                                  "description": "The id of the skillset this configuration is using"
                                },
                                "privacy": {
                                  "type": "boolean",
                                  "description": "The privacy flag for this configuration"
                                },
                                "moderation": {
                                  "type": "boolean",
                                  "description": "The moderation flag for this configuration"
                                }
                              },
                              "$$ref": "#/components/schemas/BotConfig"
                            }
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "data"
                      ]
                    }
                  ]
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          }
        },
        "__originalOperationId": "exportContactConversations",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/conversation/list": {
      "get": {
        "operationId": "listContactConversations",
        "summary": "List contact conversations",
        "tags": [
          "Contact Conversation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "description": "The ID of the contact to delete",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "The order of the paginated items",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "description": "The number of items to retrieve",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of conversations was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "A bot configuration or reference",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The associated name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The associated description"
                          },
                          "meta": {
                            "type": "object",
                            "description": "Meta data information",
                            "additionalProperties": true,
                            "$$ref": "#/components/schemas/Meta"
                          },
                          "id": {
                            "type": "string",
                            "description": "The instance ID"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The creation date"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The last update date"
                          },
                          "contactId": {
                            "description": "The contact id assigned to this conversation",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt"
                        ],
                        "oneOf": [
                          {
                            "type": "object",
                            "description": "A bot configuration that can be applied without a dedicated bot instance.",
                            "properties": {
                              "botId": {
                                "type": "string",
                                "description": "The ID of the bot this configuration is using"
                              }
                            },
                            "$$ref": "#/components/schemas/BotRef"
                          },
                          {
                            "type": "object",
                            "description": "A bot configuration that can be applied without a dedicated bot instance.",
                            "properties": {
                              "model": {
                                "type": "string",
                                "description": "A model definition",
                                "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                                "example": "gpt-4-turbo/temperature=0.7",
                                "$$ref": "#/components/schemas/Model"
                              },
                              "backstory": {
                                "type": "string",
                                "description": "The backstory this configuration is using"
                              },
                              "datasetId": {
                                "type": "string",
                                "description": "The id of the dataset this configuration is using"
                              },
                              "skillsetId": {
                                "type": "string",
                                "description": "The id of the skillset this configuration is using"
                              },
                              "privacy": {
                                "type": "boolean",
                                "description": "The privacy flag for this configuration"
                              },
                              "moderation": {
                                "type": "boolean",
                                "description": "The moderation flag for this configuration"
                              }
                            },
                            "$$ref": "#/components/schemas/BotConfig"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              },
              "application/jsonl": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "The type of event",
                          "type": "string",
                          "enum": [
                            "item"
                          ]
                        },
                        "data": {
                          "type": "object",
                          "description": "A bot configuration or reference",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The associated name"
                            },
                            "description": {
                              "type": "string",
                              "description": "The associated description"
                            },
                            "meta": {
                              "type": "object",
                              "description": "Meta data information",
                              "additionalProperties": true,
                              "$$ref": "#/components/schemas/Meta"
                            },
                            "id": {
                              "type": "string",
                              "description": "The instance ID"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "The creation date"
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "The last update date"
                            },
                            "contactId": {
                              "description": "The contact id assigned to this conversation",
                              "type": "string"
                            }
                          },
                          "$$ref": "#/paths/~1conversation~1list/get/responses/200/content/application~1json/schema/properties/items/items",
                          "required": [
                            "id",
                            "createdAt",
                            "updatedAt"
                          ],
                          "oneOf": [
                            {
                              "type": "object",
                              "description": "A bot configuration that can be applied without a dedicated bot instance.",
                              "properties": {
                                "botId": {
                                  "type": "string",
                                  "description": "The ID of the bot this configuration is using"
                                }
                              },
                              "$$ref": "#/components/schemas/BotRef"
                            },
                            {
                              "type": "object",
                              "description": "A bot configuration that can be applied without a dedicated bot instance.",
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "A model definition",
                                  "pattern": "\\w+(?:\\/\\w+=\\w+)*",
                                  "example": "gpt-4-turbo/temperature=0.7",
                                  "$$ref": "#/components/schemas/Model"
                                },
                                "backstory": {
                                  "type": "string",
                                  "description": "The backstory this configuration is using"
                                },
                                "datasetId": {
                                  "type": "string",
                                  "description": "The id of the dataset this configuration is using"
                                },
                                "skillsetId": {
                                  "type": "string",
                                  "description": "The id of the skillset this configuration is using"
                                },
                                "privacy": {
                                  "type": "boolean",
                                  "description": "The privacy flag for this configuration"
                                },
                                "moderation": {
                                  "type": "boolean",
                                  "description": "The moderation flag for this configuration"
                                }
                              },
                              "$$ref": "#/components/schemas/BotConfig"
                            }
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          }
        },
        "__originalOperationId": "listContactConversations",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/delete": {
      "post": {
        "operationId": "deleteContact",
        "summary": "Delete contact",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "description": "The ID of the contact to delete",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contact was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the deleted contact",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/NotFound"
          }
        },
        "__originalOperationId": "deleteContact",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/fetch": {
      "get": {
        "operationId": "fetchContact",
        "summary": "Fetch contact",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "description": "The ID of the contact to retrieve",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The contact was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Instance list properties",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The associated name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The associated description"
                    },
                    "meta": {
                      "type": "object",
                      "description": "Meta data information",
                      "additionalProperties": true,
                      "$$ref": "#/components/schemas/Meta"
                    },
                    "id": {
                      "type": "string",
                      "description": "The instance ID"
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The creation date"
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "The last update date"
                    },
                    "email": {
                      "description": "The email address of the contact",
                      "type": "string"
                    },
                    "phone": {
                      "description": "The phone number of the contact",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/NotFound"
          }
        },
        "__originalOperationId": "fetchContact",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/{contactId}/update": {
      "post": {
        "operationId": "updateContact",
        "summary": "Update contact",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Instance crud properties",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The associated name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The associated description"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  },
                  "email": {
                    "description": "The email address of the contact",
                    "type": "string"
                  },
                  "phone": {
                    "description": "The phone number of the contact",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contact was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the updated contact",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "The user is not authorized to access the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "The specified resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The request could not be completed due to a conflict with the current state of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Conflict"
          }
        },
        "__originalOperationId": "updateContact",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/create": {
      "post": {
        "operationId": "createContact",
        "summary": "Create a new contact",
        "description": "Create a new contact with the given parameters.\n",
        "tags": [
          "Contact"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Instance crud properties",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The associated name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The associated description"
                  },
                  "meta": {
                    "type": "object",
                    "description": "Meta data information",
                    "additionalProperties": true,
                    "$$ref": "#/components/schemas/Meta"
                  },
                  "email": {
                    "description": "The email address of the contact",
                    "type": "string"
                  },
                  "phone": {
                    "description": "The phone number of the contact",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contact was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the created contact",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "description": "The request could not be completed due to a conflict with the current state of the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The error message"
                    },
                    "code": {
                      "type": "string",
                      "description": "The error code"
                    }
                  },
                  "$$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "$$ref": "#/components/responses/Conflict"
          }
        },
        "__originalOperationId": "createContact",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/contact/export": {
      "get": {
        "operationId": "exportContacts",
        "summary": "Export contacts",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for pagination",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "The order of the paginated items",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "take",
            "schema": {
              "description": "The number of items to retrieve",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
[...]
